* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}
.llm{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 70px;
    margin-top: 50px;
}

.ll {
    height: 50px;
    width: 150px;
    text-align: center;
    border: 2px solid pink;
    background-color: red;
    color: white;
    margin: 8px;
}

h1 {


    color: white;
    text-align: center;
    margin: 20px;



}


.main{
    display: flex;
    flex-wrap: wrap;
}
.number{
   
    height: 100px;
    width: 100px;
    margin: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: rgb(93, 93, 93);
    color:white;
    border:1px solid red;
}
.open{
     height: 100px;
    width: 100px;
    background-color: rgb(75, 124, 0);
    margin: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
   
    color:white;
    border:1px solid red;
}
